
body{
	margin: auto;
}

div{
	margin: 2px;
}

img{
	width: 80%;
	height: auto;
}

.kama_parties{
	max-width:70% ;
	height: auto;
}

h2{
	color:#510e64;
}

button{
	border-radius: 10px;
	background-color: #510e64;
	color: white; 
	width:150px;
	line-height:50px;
	text-align:center;
	vertical-align:middle;
	margin-top: 20px;
}
<!-- zoom images -->
.block div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.block div:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	margin-top: 20px;
	margin-bottom:20px;
}

